body {
  background-color: black;
  color: white;
  padding: 60px;
}

hr {
  border-top: 1px solid rgba(255, 255, 255, .5);
}

.blockquote {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

pre {
  color: white;
}

